HELP.md
.gradle
/build/
/manager/build
/manager/out
/builder/build
/builder/out
#!gradle/wrapper/gradle-wrapper.jar
gradle
gradlew
gradlew.bat
/common/build
/common/out

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
local.properties

/manager/src/main/resources/application.yml
/builder/src/main/resources/application.yml
### vcs gradle ###
/builder/src/main/resources/vcsControl/build/*

/manager/build/
/manager/out/
/common/out/
/common/build/
/builder/build/
