HELP.md
.gradle
/build/
/headquater/build
/headquater/out
/branch/build
/branch/out
#!gradle/wrapper/gradle-wrapper.jar
gradle
gradlew
gradlew.bat
/common/build
/common/out
/batchjob/build
/jasyptProject/build
/oauth2/build

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
local.properties

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/headquater/websquare_home/log/

/headquater/src/main/resources/application.yml
/branch/src/main/resources/application.yml
### vcs gradle ###
branch/src/main/resources/vcsControl/build/*
/headquater/websquare_home/
/headquater/whive_home/

/headquater/build/
/headquater/out/
/common/out/
/common/build/
/branch/build/
