@charset "utf-8";

:root{
    --ws-gray-0:#ffffff;
    --ws-gray-50:#F7F7F8;
    --ws-gray-100:#ECECEF;
    --ws-gray-200:#D9D9E3;
    --ws-gray-300:#C5C5D2;
    --ws-gray-400:#ACACBE;
    --ws-gray-500:#8E8EA0;
    --ws-gray-600:#6E6E80;
    --ws-gray-700:#56586A;
    --ws-gray-800:#353740;
    --ws-gray-900:#202123;
    
    --ws-primary-50: #FFF4EE;
    --ws-primary-100: #FBE0D1;
    --ws-primary-200: #F7C2A3;
    --ws-primary-300: #F3A375;
    --ws-primary-400: #EF8547;
    --ws-primary-500: #602b8a;
    --ws-primary-600: #BC5214;
    --ws-primary-700: #8D3D0F;
    --ws-primary-800: #5E290A;
    --ws-primary-900: #1F1133;
    
    --ws-secondary-50:#F1FEFC;
    --ws-secondary-100:#D2F1EE;
    --ws-secondary-300:#79D4CB;
    --ws-secondary-400:#4CC6B9;
    --ws-secondary-500:#1FB8A8;
    --ws-secondary-600:#199386;
    
    --ws-subcolor-500:#6D7C9E;
    
    --ws-coolgray-50:#F5F7FA;
    --ws-coolgray-100:#E8EFF5;
    --ws-coolgray-200:#DAE3ED;
    --ws-coolgray-500:#8996A3;
    --ws-coolgray-700:#56606B;
    --ws-coolgray-800:#424952;
    --ws-coolgray-900:#2C3238;
    
    --ws-red-50 :#FDEBEB;
    --ws-red-100 :#F9CFCF;
    --ws-red-500 :#EF4146;
    --ws-red-600 :#C23539;
    
    --ws-orange-50 :#FFF6EE;
    --ws-orange-100 :#FFE6CC;
    --ws-orange-500 :#FF8400;
    --ws-orange-600 :#CC6A00;
    
    --ws-green-50 :#EBFAEB;
    --ws-green-100 :#D2F4D3;
    --ws-green-500 :#10A37F;
    --ws-greene-600 :#1A7F64;
    
    --ws-blue-50 :#EEF6FF;
    --ws-blue-100 :#CCE4FF;
    --ws-blue-500 :#007AFF; 
    --ws-blue-600 :#0062CC;
    
    --ws-violet-50 :#ECEBF9;
    --ws-violet-100 :#D2CFF2;
    --ws-violet-500 :#5436DA; 
    --ws-violet-600 :#482DA8;
        
    --ws-form-height:26px;
    --ws-iconbtn-width:26px; 
    --ws-font-lineheight:26px;
    
    --ws-mg-lg:16px;
    --ws-mg-md:8px;
    --ws-mg-sm:4px;
    --ws-pd-lg:16px;
    --ws-pd-md:8px;
    --ws-pd-sm:4px;     
    
    --font-size-lg :2rem;
	--font-size-md :1.6rem;
    --font-size-sm :1.3rem;  
    
    --font-family :"Noto Sans KR", "Malgun Gothic","맑은 고딕",Verdana,Dotum,Sans-serif;
      
    --ws-form-bg :var(--ws-gray-0);
    --ws-form-bd :#CED4DA;
    --ws-form-font :var(--ws-gray-800); 
    --ws-form-hover-bg :var(--ws-gray-0); 
    --ws-form-hover-bd :var(--ws-gray-500);    
    --ws-form-focus-bg :var(--ws-gray-0); 
    --ws-form-focus-bd :#8996A3; 
    --ws-form-disabled-bg :#E8EBEE; 
    --ws-form-disabled-bd :#CED4DA; 
    --ws-form-disabled-font :#C7C8CA;
    --ws-form-readonly-bg :#F5F6F8; 
    --ws-form-readonly-bd :#CED4DA; 
    --ws-form-readonly-font :#20252A;
    --ws-form-checked-bg : var(--ws-primary-500);

    --ws-table-bd :#CED4DA;
    --ws-table-bg :#F5F6F8;
    --ws-grid-header-bg :var(--ws-gray-0);
    --ws-grid-header-bd :#CED4DA;
    --ws-grid-header-font :var(--ws-gray-0);
    --ws-grid-bg :var(--ws-gray-0);
    --ws-grid-bd :#EAEDEF;
    
    --ws-btn-bg :var(--ws-gray-0);
    --ws-btn-bd :#CED4DA;
    --ws-btn-font :var(--ws-gray-800);
    --ws-btn-hover-bg :var(--ws-gray-0);
    --ws-btn-hover-bd :var(--ws-gray-200);
    --ws-btn-focus-bg :var(--ws-gray-50);
    --ws-btn-focus-bd :var(--ws-gray-300);
    --ws-btn-disabled-bg :var(--ws-gray-50);
    --ws-btn-disabled-bd :var(--ws-gray-300);
    --ws-btn-disabled-font :var(--ws-gray-400);

    --ws-btn-pt-bg :var(--ws-primary-500);
    --ws-btn-pt-bd :var(--ws-primary-500);
    --ws-btn-pt-font :var(--ws-gray-0); 
    --ws-btn-pt-hover-bg :var(--ws-primary-400);
    --ws-btn-pt-hover-bd :var(--ws-primary-400); 
    --ws-btn-pt-focus-bg :var(--ws-primary-500);
    --ws-btn-pt-focus-bd :var(--ws-primary-500);
    --ws-btn-pt-disabled-bg :var(--ws-primary-200);
    --ws-btn-pt-disabled-bd :var(--ws-primary-200);
    --ws-btn-pt-disabled-font :var(--ws-gray-0);
    
    --ws-error-bg: var(--ws-red-50); 
    --ws-error-bd: var(--ws-red-100); 
    --ws-error-font: var(--ws-red-500);
    --ws-info-bg: var(--ws-blue-50);
    --ws-info-bd: var(--ws-blue-100);
    --ws-info-font: var(--ws-blue-500);
    --ws-success-bg: var(--ws-green-50);
    --ws-success-bd: var(--ws-green-100);
    --ws-success-font: var(--ws-green-500);
    --ws-warning-bg: var(--ws-orange-50);
    --ws-warning-bd: var(--ws-orange-100);
    --ws-warning-font: var(--ws-orange-500);   
    --ws-accent-font: var(--ws-orange-600); 
    --ws-req-bg:var(--ws-green-50); 
}

/* base */
html,body{margin:0;padding:0;}
html {font-size:10px;line-height:11px}
body{color:#20252A;font-style:normal;-webkit-text-size-adjust:none;}
p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,table,form,fieldset{margin:0;padding:0;}
body,input,textarea,select,button,table{font-size:var(--font-size-sm);font-family:var(--font-family);}
table{empty-cells:show;}
caption,legend{display:none;}
a img,img{vertical-align:top;}
img,fieldset{border:0;}
ul,dl,dd {margin:0;padding:0;list-style:none;}
ul li img {vertical-align:top;}
em,address{font-style:normal;}
a{text-decoration:none;}
a:hover,a:active,a:visited,a:focus{}

/* form */
input[type="button"],input[type="text"],select{-webkit-appearance:none;border-radius:0;}/* iOS 버튼 라운딩 제어 */

/* base */
.w2tabcontrol_contents{-webkit-overflow-scrolling: touch}/* 모바일 tabControl scrolling */
.w2trigger{display:-moz-inline-stack;overflow:visible}/* firefox padding 버그 및 ie padding 버그 */
.w2input_disabled,
.w2input_readonly,
.w2selectbox_disabled,
.w2selectbox_disabled,
.w2upload_disabled .w2upload_input,
.w2textarea_disabled{color:#b4bbc2;background:#ebeced !important;border: 1px solid #d3dbe3;cursor:default;}
.w2group,
.w2trigger{background-color:transparent;}
.w2span{display:inline-block;}
input[type="button"],
input[type="text"],
button,
.w2inputCalendar_divInput{-webkit-appearance:none;}
.w2input,
.w2textarea,
.w2inputCalendar_divInput,
.w2upload .w2upload_input{font-family:var(--font-family);color:var(--ws-form-font);border:1px solid var(--ws-form-bd);background:var(--ws-gray-0);}
.w2input,
.w2textarea,
.w2selectbox,
.w2autoComplete,
.w2selectbox_native,
.w2selectbox_native.fixedWidth .w2selectbox_native_select,
.w2upload .w2upload_input,
.w2checkcombobox {-moz-box-sizing:border-box;box-sizing:border-box;}
.w2selectbox_native{border:1px solid #d3dbe3;}
input[type="text"],
input[type="password"],
.w2textarea,
.w2inputCalendar_divInput,
.w2selectbox_native select,
.w2selectbox_col_label,
.w2autoComplete_col_label{font-size:var(--font-size-sm);-webkit-appearance:none;-webkit-border-radius:0;}
.w2input{height:var(--ws-form-height);padding:0 4px;}
.w2tb_td .w2textarea{padding:4px;}
.w2table_sb_col{font-size:var(--font-size-sm);}
/* blockquote {margin-inline-end:0; margin-inline-start:0;} */

/* form 정렬 */
.fl{float:left;min-height:14px;}
.fr{float:right;min-height:14px;}
.ofh{overflow:hidden;}

/* text 정렬 */
.tal{text-align:left !important}
.tac{text-align:center !important}
.tar{text-align:right !important}

/*############ layout ############ START */
.wrap{position:relative;height:100%;/* min-width:1280px; */overflow-x:auto;}
.header{position:fixed;top:0;left:0;right:0;width:100%;height:70px;font-weight:bold;border-bottom:1px solid #E9E9E9;background:var(--ws-gray-0);z-index:1000;box-shadow: 0 0 10px rgb(0 0 0 / 16%);}
.header .btn_toggle_menu{display:none;}
.container{z-index:1;position:absolute;top:70px;left:0;right:0;bottom:0;background:var(--ws-gray-0);}
.contents{overflow-y:auto;}
.footer{position:absolute;left:0;right:0;bottom:0;height:37px;border-top:1px solid #ddd;background:var(--ws-gray-0);}
.wrap.main .contents{position:absolute;top:0;left:0;right:0;bottom:0;overflow:hidden;transition:all 0.8s}
.wrap.sub .contents{position:relative;top:auto;left:auto;right:auto;bottom:auto;overflow:hidden;transition:none}
.wrap.sub .page{overflow:hidden;}

.grp_top{display:flex;align-items:center;justify-content:space-between;max-width:1280px;height:70px;margin:0 auto;}
.grp_top .head_left h1{display:inline-block;vertical-align:middle;}
.grp_top .head_left h1 .logo{display:block;width:125px;height:32px;background:url(/cm/images/base/logo.png) no-repeat;background-size:125px;text-indent:-9999px;}
.grp_top .head_left .gnb{position:relative;display:inline-block;vertical-align:middle;margin-left:40px;}
.grp_top .head_left .gnb>li{position:relative;display:inline-block;margin-right:40px;}
.grp_top .head_left .gnb li.on{margin-right:60px;}
.grp_top .head_left .gnb li a{font-size:16px;font-weight:normal;}
.grp_top .head_left .gnb li a:hover{color:var(--ws-primary-500);}
.grp_top .head_right .btn_login{height:30px;padding:0 15px;color:var(--ws-primary-500);font-size:var(--font-size-sm);border:1px solid var(--ws-primary-500);border-radius:3px;background:var(--ws-gray-0);box-sizing:border-box;}
.grp_top .head_right .btn_login:hover{box-shadow:0 0 8px rgb(0 0 0 / 16%);}
.grp_top .head_right .btn_sign{height:30px;margin-left:6px;padding:0 15px;color:var(--ws-gray-0);font-size:var(--font-size-sm);border:1px solid var(--ws-primary-500);border-radius:3px;background:var(--ws-primary-500);box-sizing:border-box;}
.grp_top .head_right .btn_sign:hover{box-shadow:0 0 8px rgb(0 0 0 / 16%);}
.grp_top .head_right .sel_lang{height:30px;margin:0 6px;padding-left:34px;border-color:#A5A5A5;background:url(/cm/images/base/ico_language.png) 10px center/16px 16px no-repeat;cursor:pointer;border-radius:3px;}
.grp_top .head_right .sel_lang .w2selectbox_label{padding-left:0;color:#A5A5A5;font-weight:normal;}
.grp_top .head_right .sel_lang .w2selectbox_col_button{background:url(/cm/images/base/ico_selectarrow_lang.png) left center/6px 4px no-repeat}
.grp_top .head_left .gnb{display:inline-block;margin-left:42px;vertical-align:middle;}
.grp_top .head_left .gnb.depth1
.grp_top .head_left .gnb.depth1 > li > a{position:relative;}
.grp_top .head_left .gnb.depth1>li.on .depth2{display:none;} 
.grp_top .head_left .gnb.depth1>li.on:after{content:'';width:6px;height:6px;border-top:1px solid #20252A;border-right:1px solid #20252A;display:inline-block;transform:rotate(135deg);position:absolute;top:8px;right:-20px;transition: all .2s;}
.grp_top .head_left .gnb.depth1>li.open .depth2{display:block;}
.grp_top .head_left .gnb.depth1>li.open:after{transform:rotate(315deg);top:12px;}
.grp_top .head_left .gnb .depth2{display:none;position:absolute;top:48px;width:180px;left:-18px;padding:10px 0;border:1px solid #CED4DA;background:var(--ws-gray-0);border-radius:4px;box-shadow:0 0 10px rgb(0 0 0 / 20%);}
.grp_top .head_left .gnb .depth2:after{content:'';width:10px;height:10px;border-top:1px solid #CED4DA;border-right:1px solid #CED4DA;display:inline-block;transform:rotate(315deg);position:absolute;top:-7px;left:25px;background:var(--ws-gray-0);}
.grp_top .head_left .gnb .depth2 li a{display:block;line-height:40px;height:40px;padding:0 15px;margin: 0px 0;font-size: 14px;}
.grp_top .head_left .gnb .depth2 li a:hover,
.grp_top .head_left .gnb .depth2 li a.on{color:var(--ws-primary-500);text-decoration:underline;background:#F6F6F6;position: relative;}
.grp_top .head_left .gnb .depth2 li a:hover:after,
.grp_top .head_left .gnb .depth2 li a.on:after{content:'';position:absolute;top: 16px;right:11px;border-top:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid transparent;border-left:5px solid var(--ws-primary-500);}

.btn_scrolling_up{opacity:0;position:absolute;bottom:50px;right:20px;width:40px;height:107px;margin-left:-24px;border:0;background:url(/cm/images/base/btn_scrolling_top.png) no-repeat;background-size:100%;text-indent:-9999px;}
.btn_scrolling_up.on{opacity:1;transition:all 0.5s;}
.btn_scrolling_up.off{opacity:0;cursor:default;transition:all 0.5s;visibility:hidden}
.btn_scrolling_up.first{opacity:1;background:url(/cm/images/base/btn_scrolling.png) no-repeat;cursor:pointer;}
.btn_scrolling_up.last{background:url(/cm/images/base/btn_scrolling_top_white.png) no-repeat;}
.btn_scrolling{opacity:0;position:absolute;bottom:50px;right:20px;width:40px;height:107px;margin-left:-24px;border:0;background:url(/cm/images/base/btn_scrolling.png) no-repeat;background-size:100%;text-indent:-9999px;}
.btn_scrolling.on{opacity:1;transition:all 0.5s;}
.full_page{position:absolute;top:1px;left:0;right:0;bottom:0;overflow:hidden;-webkit-overflow-scrolling:touch;}
.page{overflow-y:auto;overflow-x:hidden;}
.page::-webkit-scrollbar{width:6px;height:7px;background:#ECECEC;border-radius:10px}
.page::-webkit-scrollbar-thumb{background:#333333;border-radius:10px}
.page .pg01{position:relative;display:flex;align-items:center;min-height:950px;width:1280px;margin:0 auto;box-sizing:border-box;margin-top:-55px;}
.page .pg02{position:relative;display:block;align-items:center;justify-content:center;margin:0 auto;box-sizing:border-box;background-color:#F2EFEC;background-image:url(/cm/images/base/bg_mask01.png), url(/cm/images/base/bg_mask02.png);background-repeat:no-repeat, no-repeat;background-position:left top, right bottom;background-size:40%, 30%;padding:40px 0;}
.page .pg02 .img_thumbnail{width:420px;}

.page .left_area{margin-right:60px;}
/* .page .left_area .img_thumbnail{margin-top:140px} */
.page .left_area .txt1{font-size:14px;font-weight:600;}
.page .left_area .txt2{line-height:50px;margin:10px 0;font-size:38px;font-weight:600;}
.page .left_area .txt3{font-size:16px;}
.page .left_area .btnbox{margin:70px 0 0;}
.page .left_area .btnbox .btn_navy_line{height:44px;padding:0 53px;color:#3A4561;font-size:16px;border-color:#3A4561;border-radius:22px;background-color:var(--ws-gray-0);box-sizing:border-box;}
.page .left_area .btnbox .btn_navy{height:44px;margin-left:0px;padding:0 53px;color:var(--ws-gray-0);font-size:16px;border-color:#3A4561;border-radius:22px;background-color:#3A4561;box-sizing:border-box;}
.page .pg01 .left_area .btnbox{text-align:left;}

/* .page .right_area .img_thumbnail{margin-bottom:98px} */
.page .right_area .txt1{font-size:14px;font-weight:600;}
.page .right_area .txt2{line-height:50px;margin:10px 0;font-size:38px;font-weight:600;}
.page .right_area .txt3{font-size:16px;}
.page .right_area .btnbox{margin:70px 0 0;}
.page .right_area .btnbox .btn_org{width:230px;height:44px;padding:0 15px;color:var(--ws-gray-0);border-color:#E47E26;border-radius:25px;text-align:left;background:#E47E26 url(/cm/images/base/btn_cm_arrow.png) right 15px center/6px 10px no-repeat;}
.page .center_area{text-align:center;}
.page .center_area .txt1{font-size:14px;}
.page .center_area .txt2{font-size:30px;font-weight:600;line-height:34px;margin:10px 0;}
.page .center_area .txt3{font-size:15px;font-weight:400;}

.foot_area{position:relative;background:#363636;z-index:10;}
.foot_area:after{content:'';position:absolute;top:0;left:70%;right:0;bottom:0;background:#4F4F4F;}
.foot_area .in_foot{position:relative;max-width:1280px;padding:35px 0;margin:0 auto;padding-left:250px;background:url(/cm/images/base/logo_foot.png) left 35px no-repeat;background-size:155px;box-sizing:border-box;}
.foot_area .in_foot .left .anc_other{margin-right:20px;color:var(--ws-gray-0);font-size:14px;font-weight:600;text-decoration:underline;}
.foot_area .in_foot .left .anc_info{display: block;margin-top:5px;margin-right:0px;color:#ccc;font-size:var(--font-size-sm);text-decoration:underline;}
.foot_area .in_foot .left p{margin-top:20px;color:#ccc;font-size:var(--font-size-sm);}
.foot_area .in_foot .left .copy{margin-top:25px;color:#ccc;font-size:10px;}
.foot_area .in_foot .left .grp_media{margin-top:60px;}
.foot_area .in_foot .left .grp_media a{display:inline-block;width:30px;height:30px;margin-right:10px;text-indent:-9999px;}
.foot_area .in_foot .left .grp_media .ico_inswave{background:url(/cm/images/base/ico_media_ins.png) no-repeat;}
.foot_area .in_foot .left .grp_media .ico_facebook{background:url(/cm/images/base/ico_media_facebook.png) no-repeat;}
.foot_area .in_foot .left .grp_media .ico_youtube{background:url(/cm/images/base/ico_media_youtube.png) no-repeat;}
.foot_area .in_foot .left .grp_media .ico_blog{background:url(/cm/images/base/ico_media_blog.png) no-repeat;}
.foot_area .in_foot .right{display:flex;position:absolute;top:0;left:726px;right:0;bottom:0;padding:35px;background:#4F4F4F;box-sizing:border-box;z-index:200;}
.foot_area .in_foot .right ul.dep1 > li{margin-top:12px;}
.foot_area .in_foot .right ul.dep1 > li:first-child{margin-top:0;}
.foot_area .in_foot .right ul.dep1 > li > a{color:var(--ws-gray-0);font-size:14px;font-weight:600;}
.foot_area .in_foot .right ul.dep2{margin:5px 5px 10px 5px;}
.foot_area .in_foot .right ul.dep2 > li > a{color:#BCBCBC;font-size:var(--font-size-sm);}
.foot_area .in_foot .right ul.dep1.other{margin-left:70px;}
.foot_area .in_foot .right ul.dep1.other > li > a{color:#C7C7C7;text-decoration:underline;}

.btn_dashboard{position:relative;height:30px;line-height:30px;font-size:var(--font-size-sm);flex:1 auto;padding:0 10px 0 28px;border:1px solid #CED4DA;color:#3A4561;font-weight:500;background:#F5F6F8 url(/cm/images/ico_side_dash.png) no-repeat left 10px center;background-size:12px 12px;border-radius:3px;}
.btn_org_line:hover{box-shadow: 0 0 8px rgb(0 0 0 / 16%);}

.layer{position:relative;padding:85px 30px 30px;background:var(--ws-gray-0);box-sizing:border-box;z-index:2500;box-shadow:0 0 10px rgb(0 0 0 / 30%)}
.layer:before{content:'';position:absolute;top:36px;left:50%;width:125px;height:32px;margin-left:-63px;background:url(/cm/images/base/logo.png) no-repeat;background-size:125px;}
.layer .btnclosebox{width:20px;height:20px;margin:0;position:absolute;top:14px;right:14px;z-index:100;}
.layer .btnclosebox .btn_close{display:inline-block;width:20px;height:20px;background:url(/cm/images/ico_close.png) no-repeat center;background-size:16px 16px;border:0;text-indent:-9999px;position: absolute;left: 0;top: 0;}
.layer.type02{padding:115px 30px 30px;background:var(--ws-gray-0) url(/cm/images/base/ico_alert_welcome.png) center 74px no-repeat;}
.layer.type02:before{top:15px;left:15px;margin-left:0;}
.layer.type03{display:none;position:absolute;top:50px;margin-left:-160px;width: 210px;border: 1px solid #CED4DA;padding: 10px;box-shadow: 0 2px 10px rgb(0 0 0 / 30%);}
.layer.type03:before{background-image:none;}
.layer.type03.on{display:block;}
.layer.type03 .form_box{padding-top:0;} 
.layer.type03 .form_box .btnbox{width:103px;justify-content:center;margin:14px auto 0;}
.layer.type03 .form_box .btnbox .w2trigger{position:relative;height:26px;line-height:25px;font-size:var(--font-size-sm);flex:1 auto;padding: 0 10px 0 28px;border:1px solid #CED4DA;background-color:#F5F6F8;color:#3A4561;font-weight:500;}
.layer.type03 .form_box .btnbox .w2trigger + .w2trigger{margin-left:4px;}
.layer.type03 .btn_cm.close{display:block;width:15px;height:15px;background:url(/cm/images/base/ico_close.png) center no-repeat;background-size:8px 8px;border:0;box-shadow:none;}
.layer.type03 .w2trigger.btn_home{display:inline-block;background:url(/cm/images/base/ico_home.png) no-repeat left 10px center;background-size:12px 12px;}
.layer.type03 .w2trigger.btn_setting{display:inline-block;background:url(/cm/images/base/ico_setting.png) no-repeat left 10px center;background-size:12px 12px;}
.layer.type03 .w2trigger.btn_dashboard{background:url(/cm/images/ico_side_dash.png) no-repeat left 10px center;background-size:12px 12px;}
.layer.type03 .w2trigger.btn_logout{background:url(/cm/images/ico_logout_bk.png) no-repeat left 10px center;background-size:12px 12px;}
.layer.messagebox{border-radius: 3px; box-sizing: border-box; padding:0;}
.layer.messagebox:before{display: none;}
.layer.messagebox > .dfbox{display: none;}
.layer.messagebox .form_box{padding:0;}
.layer.messagebox .form_box .dfbox{padding:23px 32px 61px;margin:0; box-sizing: border-box; border: 1px solid #CED4DA;border-radius: 3px;}
.layer.messagebox .form_box .dfbox .df_sub,
.layer.messagebox .form_box .dfbox .df_subtit{text-align: center;color:#20252a;}
.layer.messagebox .form_box .dfbox .df_subtit{font-size: 14px; font-weight: bold;margin-bottom:10px;}
.layer.messagebox .form_box .btnbox{position: absolute;bottom:0;width:100%; margin:0; }
.layer.messagebox .form_box .btnbox .w2trigger{width:100%;margin:0; border:1px solid #CED4DA; border-radius:0; color:#878A92;font-size:var(--font-size-sm); font-weight: bold;border-right:0;}
.layer.messagebox .form_box .btnbox .w2trigger + .w2trigger{margin-left:0; border-bottom-right-radius: 3px;}
.layer.messagebox .form_box .btnbox .w2trigger:first-of-type{border-bottom-left-radius: 3px;}
.layer.messagebox .form_box .btnbox .w2trigger.conf{ color:var(--ws-primary-500)}
.layer.type04{padding:24px 30px}
.layer.type04:before{display: none}
.layer.type04 .btnclosebox{top:24px;right:30px}
.layer.type04 .pop_tit{color:#363636;font-size: 22px;font-weight:700;margin-bottom: 18px}
.layer.type04 .box_info{border:1px solid #E9E9E9;border-radius: 10px;padding: 16px 40px}
.layer.type04 .box_info li{display:flex;align-items:center;}
.layer.type04 .box_info li .tit{flex:none;font-size: 14px;font-weight:500;color:#A5A5A5;width: 60px;margin-right: 30px}
.layer.type04 .box_info li span{font-size:14px;font-weight:700;color:#363636}
.layer.type04 .box_info li span+span{margin-left: 3px}
.layer.type04 .box_info li .num{font-size:24px;color:#EB6619}
.layer.type04 .box_info li .sub{margin-left:8px;color:#A5A5A5}
.layer.type04 .box_info li+li{margin-top: 9px}
.layer.type04 .tit_sub{margin-top: 26px;font-size: 16px;color:#363636;font-weight: 700}
.layer.type04 .btn_pay{display: flex;align-items:center;justify-content: center;margin-top:22px}
.layer.type04 .btn_pay a{width: 200px;height: 35px;border:1px solid #E6E7E8;border-radius:6px}
.layer.type04 .btn_pay a+a{margin-left: 10px}
.layer.type04 .btn_pay .toss{font-size: 0;background:url(/cm/images/btn_toss.png) center no-repeat;background-size:50%;}
.layer.type04 .btn_pay .paypal{font-size: 0;background:url(/cm/images/btn_paypal.png) center no-repeat;background-size:50%;background-color: #ffc439;}
.layer.type04 .btn_pay .w2radio{display:flex;align-items:center;justify-content: center;}
.layer.type04 .btn_pay .w2radio_item{padding:0}
.layer.type04 .btn_pay .w2radio_item label{width: 200px;height: 54px;border: 1px solid #E6E7E8;border-radius: 10px;display: inline-flex;justify-content: center;align-items: center;font-size:0;}
.layer.type04 .btn_pay .w2radio_item label:before{display:none}
.layer.type04 .btn_pay .w2radio_item label:after{display:none}
.layer.type04 .btn_pay .w2radio_item:nth-child(1){background:url(/cm/images/btn_toss.png) center no-repeat}
.layer.type04 .btn_pay .w2radio_item:nth-child(2){background:url(/cm/images/btn_paypal.png) center no-repeat}
.layer.type04 .btn_pay input[type="radio"]:checked + .w2radio_label{border:1px solid var(--ws-primary-500);outline:1px solid var(--ws-primary-500)}
.layer.type04 .box_agree{background: #F7F7F7;padding:20px;margin-top:12px}
.layer.type04 .box_agree .allchk{display:block;margin-bottom: 22px}
.layer.type04 .box_agree .allchk label{font-size: 16px}
.layer.type04 .box_agree .allchk input[type="checkbox"]:checked + .w2checkbox_label:after{top:8px}
.layer.type04 .grp_agree{display:flex;align-items:center;}
.layer.type04 .grp_agree .detail{margin-left:auto;text-decoration:underline;}
.layer.type04 .grp_agree+.grp_agree{margin-top:12px}
.layer.type04 .form_box .btnbox {justify-content: center;margin-top:0}
.layer.type04 .form_box .btnbox .w2trigger{width: 100px;flex:none}
.layer .pop_footer{padding:23px 30px;background:#EAECF2;margin: 0 -30px -24px;}
.layer .pop_footer .w2textbox{font-size:13px;color:#959595}
.layer .pop_footer .logo{color:#3E3E3E;margin-bottom:5px;padding-left:110px;background:url(/cm/images/logo_popfooter.png) center left no-repeat}
.layer .head_sign{font-size:30px;color:#E47E26;text-align:center;}
.layer .head_tit{font-size:16px;font-weight:600;color:#20252A;text-align:center;}
.layer .w2tabcontrol_tabhost{display:flex;flex-direction:row;height:36px;}
.layer .w2tabcontrol_tabhost li{flex:1;border-bottom:1px solid #EBEBEB;}
.layer .w2tabcontrol_tabhost li a{color:#CBCBCB;font-size:14px;font-weight:300;}
.layer .w2tabcontrol_tabhost li.w2tabcontrol_selected{border-color:#E47E26;}
.layer .w2tabcontrol_tabhost li.w2tabcontrol_selected a{color:#E47E26;font-weight:600;}
.layer .w2tabcontrol_tabhost li .w2tabcontrol_tab_left,
.layer .w2tabcontrol_tabhost li .w2tabcontrol_tab_right,
.layer .w2tabcontrol_tabhost li .w2tabcontrol_tab_center{background-image:none;}
.layer .w2tabcontrol_container{position:static;border:0;}
.layer .form_box{padding-top:30px;}
.layer .form_box .txt_tit{position:relative;margin-bottom:5px;color:#363636;font-size:var(--font-size-sm);font-weight:600;}
.layer .form_box .txt_tit.req:after{content:'';position:absolute;display:inline-block;width:5px;height:5px;background:url(/cm/images/base/ico_req.png) center no-repeat;top:3px;padding-left:10px;}
.layer .form_box .txt_sub{position:relative;margin-bottom:5px;color:#363636;font-size:var(--font-size-sm);}
.layer .form_box .txt_sub.req:after{content:'';position:absolute;display:inline-block;width:5px;height:5px;background:url(/cm/images/base/ico_req.png) center no-repeat;top:3px;padding-left:10px;}
.layer .form_box .w2selectbox,
.layer .form_box .w2checkcombobox{width:100%;height:32px;line-height:30px;font-weight:300;border:1px solid #CCCCCC;}
.layer .form_box .w2selectbox_body_focus, .layer .form_box .w2selectbox_open{border-color:#CCCCCC;}
.layer .form_box .w2input{width:100%;height:32px;line-height:30px;margin-bottom:13px;padding-left:10px;font-weight:300;border:1px solid #CCCCCC;}
.layer .form_box .w2input::-webkit-input-placeholder,
.layer .form_box .w2input::-moz-placeholder,
.layer .form_box .w2input:-moz-placeholder,
.layer .form_box .w2input:-ms-input-placeholder{color:#CCCCCC;}
.layer .form_box input[type="password"]{padding-right:27px;}
.layer .form_box .loginpwbox{position:relative;}
.layer .form_box .input_login_pw{position:relative;}
.layer .form_box .btn_login_pw{position:absolute;right:10px;display:inline-block;width:20px;height:20px;background:url(/cm/images/base/ico_close_eye.png) no-repeat center;border:0;top:50%;margin-top:-15px;}
.layer .form_box .btn_login_pw.open{background:url(/cm/images/base/ico_open_eye.png) no-repeat center;}
.layer .form_box .infobox{display:flex;align-items:center;justify-content:space-between;}
.layer .form_box .infobox a{color:#63B7AE;font-size:var(--font-size-sm);text-decoration:underline;}
.layer .form_box .btnbox{display:flex;margin:40px 0;}
.layer .form_box .btnbox .w2trigger{flex:1;height:36px;padding:0 28px;font-size:14px;border-radius:3px;box-sizing:border-box;}
.layer .form_box .btnbox .w2trigger + .w2trigger{margin-left:10px;}
.layer .form_box .reqbox + .btnbox{margin-bottom:0;}
.layer .form_box .btn_org{color:var(--ws-gray-0);border-color:var(--ws-primary-500);background:var(--ws-primary-500);}
.layer .form_box .btn_org.arrow{background:#E47E26 url(/cm/images/base/btn_cm_arrow.png) right 30% center/6px 10px no-repeat;}
.layer .form_box .btn_org_line{color:var(--ws-primary-500);border-color:var(--ws-primary-500);}
.layer .form_box .btn_org_line:hover{box-shadow:0 0 8px rgb(0 0 0 / 16%);}
.layer .form_box .dfbox{display:flex;align-items:end;justify-content:space-between;}
.layer .form_box .dfbox .fl{flex:1;}
.layer .form_box .dfbox .df_tit{color:#363636;font-size:14px;font-weight:600;}
.layer .form_box .dfbox .df_sub{color:#363636;font-size:var(--font-size-sm);font-weight:300;}
.layer .form_box .dfbox .btn_cm.more{width:26px;height:26px;border-radius:0;background:url(/cm/images/base/ico_row_add.png) center center/12px 12px no-repeat;text-indent:-9999px;}
.layer .form_box .dfbox .btn_cm.trash{width:26px;height:26px;border-radius:0;background:url(/cm/images/base/ico_row_trash.png) center center/10px 12px no-repeat;text-indent:-9999px;}
.layer .form_box .wq_gvw .gridHeaderTableDefault{border-spacing:3px !important}
.layer .form_box .wq_gvw th.gridHeaderTDDefault,
.layer .form_box .wq_gvw td.gridBodyDefault{border-left:0;border-right:0;border-bottom:0;border-color:#CCCCCC;box-sizing:border-box;}
.layer .form_box .wq_gvw th.gridHeaderTDDefault{height:34px !important;background-color:#FFF7EE;}
.layer .form_box .wq_gvw td.gridBodyDefault{height:40px !important;}
.layer .form_box .wq_gvw .w2input{margin-bottom:0;}
.layer .form_box .w2checkbox .w2checkbox_main tr.w2checkbox_row{position:relative;}
.layer .form_box .w2checkbox .w2checkbox_main tr.w2checkbox_row .w2checkbox_td_input{vertical-align:bottom;}
.layer .form_box .w2checkbox .w2checkbox_main td.w2checkbox_td_label{vertical-align:bottom;}
.layer .form_box .w2checkbox.req{background:none;}
.layer .form_box .w2checkbox.req tr.w2checkbox_row:first-child td.w2checkbox_td_label:after{content:'';position:absolute;display:inline-block;width:5px;height:5px;background:url(/cm/images/base/ico_req.png) center no-repeat;top:3px;padding-left:10px;}
.step1Popup .layer .w2iframe{margin-bottom:15px !important;border:1px solid #CCCCCC;}
.layer.type02.link .btn_org{display:block;width:100%;height:36px;line-height:35px;text-align:center;width:180px;margin:0 auto;border-radius:4px;font-size:14px;}
.layer.type02.link{width:388px;padding:115px 30px 30px;background:var(--ws-gray-0) url(/cm/images/ico_linkmove.png) center 74px no-repeat;}
.layer.type02.link .head_sign{color:var(--ws-primary-500);font-size:20px;font-weight:bold;margin-bottom: 28px}
.layer.type02.link .head_tit{margin-bottom:10px;}
.layer.type02.link .txt_sub{font-size: 16px;font-weight: 600;text-align:center;}
.layer.type02.link .form_box .btnbox{margin:30px 0 0;}
.layer.login .w2tabcontrol:after{content:'';display:block;clear:both;}
/*############ layout ############ END */

/* login */
.login_wrap{position:relative;width:100%;height:100%;background:#f1f3f6;overflow-y:auto;}
.login_wrap .login_container{position:absolute;top:50%;left:50%;width:570px;margin-left:-285px;text-align:center;margin-top: -321px;}
.login_wrap .login_container img{}
.login_wrap .login_container .login_contents{margin-top:40px;padding:50px 70px;text-align:left;border-radius:15px;background:var(--ws-gray-0);box-sizing:border-box;border:1px solid #eaeaea}
.login_contents .w2textbox{font-size:14px;font-weight:bold;color:#20252A;}
.login_contents ul li{margin-top:30px;}
.login_contents ul li:first-child{margin-top:0;}
.login_contents ul li input{width:100%;height:50px;margin-top:5px;margin-bottom:0;padding:0 ;border:none;border-radius:0;font-size:var(--font-size-sm);color:#20252A;box-sizing:border-box;border-bottom:1px solid #DDE1E5}
.login_contents ul li input::-webkit-input-placeholder{color:#BEC9D4;}
.login_contents ul li input::-moz-placeholder{color:#BEC9D4;}
.login_contents ul li input:-moz-placeholder{color:#BEC9D4;}
.login_contents ul li input:-ms-input-placeholder{color:#BEC9D4;}
.login_contents ul li .btn_login{width:100%;height:50px;margin-top:0;font-size:18px;font-weight:bold;color:var(--ws-gray-0);border-radius:30px;background:#ff8a30;border:none}
.login_contents ul li .btn_login:hover{border-color:#FB750E;}
.login_contents ul li .btn_login:active,
.login_contents ul li .btn_login:active:hover{background-color:#FB750E;border-color:#FB750E;}
.login_contents ul li.last{text-align:center;}
.login_contents ul li.last a{position:relative;display:inline-block;margin-left:15px;padding-left:15px;font-size:var(--font-size-sm);font-weight:normal;color:#20252A;}
.login_contents ul li.last a:after{content:'';position:absolute;top:2px;left:0;width:1px;height:14px;background:#CCCCCC;}
.login_contents ul li.last a:first-child{margin-left:0;padding-left:0;}
.login_contents ul li.last a:first-child:after{display:none;}

/* margin */
.mb0 {margin-bottom:0px !important}

/* padding */
.pt0{padding-top:0px !important}